.headerNav{
    height: 50px;
    width: available;
    background: #202020;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 200px;

    margin-left: 10%;
}

.headerNav-menu{
    display: grid;
    grid-template-columns: repeat(50, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
    justify-content: center;
}

.headerNav-links{
    color: #ffffff;
    border: none;
    text-decoration: none;
    margin: auto;
    padding: inherit;
}

.headerNav-links:hover{
    text-decoration: underline white;
    border: none;
}
