.headerNav{
    height: 50px;
    width: available;
    background: #202020;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.headerNav-menu{
    display: flex;
    grid-gap: 30px;
    list-style: none;
}
.headerNav-links{
    color: #ffffff;
    border: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.headerNav-links:hover{
    text-decoration: underline white;
    border: none;
}


@media screen and (max-width: 960px) {
    .headerNav {
        display: none;
    }
}
