.header-wrapper{
    height: 50px;
    width: available;
    background-color: #F3F3F3;
}

.header-button{
    height: 50px;
    width: 150px;
    color: #3C1874;
    text-align: center;
    font-size: 20px;
    background-color: #F3F3F3;
    border: none;
    border-radius: 10px;
    float: left;
    font-weight: bold;

    transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
}

.header-button:hover{
    background-color: #3C1874;
    color: #F3F3F3;
    border: none;
}

.header-button:focus{
    text-shadow: 10px 5px 5px #3C1874;
    border: none;


}

table{
    border-spacing: 0;
    width: available;
}

th{
    padding: 0;

    width: available;
}
th :last-child{
    padding: 0;
    float: right;
}

button {
    outline: none 0;
}