form{
    display: flex;
    background-color: #202020;
}

.searchBar {
    width: 440px;
    height: 40px;
    border: none;
    outline: none;
    margin-left: 10%;
    display: flex;
    font-size: 24px;
    color: #202020;
    padding-left: 20px;
    transition: all 0.5s ease;
}

.searchBar:hover {
    border: solid 2px #ffcb00;
    transition: all 0.2s ease;
}

.searchBar:focus {
    width: 70%;
    transition: all 0.5s ease;
    border: solid 2px #ffcb00;
}

.searchButton{
    color: #F3F3F3;
    font-size: 20px;
    outline: none;
    border: none;
    background: none;
}

.searchButton:hover{
    color: #202020;
    background-color: #F3F3F3;
    transition: ease-in 0.5s;
}


@media screen and (max-width: 960px) {

    form{
        display: none;
    }
}
