

.headerBar {
    background: #202020;
    color: #ffffff;
    height: 115px;
    display: flex;
    padding-top: 15px;
    font-weight: bold;
    padding-left: 10%;
}

.headerBar-logo {
    color: #ffffff;
    cursor: pointer;
    font-size: 60px;
    font-weight: bolder;
    text-underline: none;
}

.headerBar-logo:hover {
    color: #ffffff;
    cursor: pointer;
    font-size: 60px;
    font-weight: bolder;
    border: none;
    outline: none;
}

.headerNav-searchBar:focus {
}

.headerNav-searchBar:hover {
    border: none;
    outline: none;
}

.headerBar-menu {
    display: grid;
    position: absolute;
    right: 100px;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    padding-top: 20px;
}

.headerBar-links {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.headerBar-links:hover {
    color: #202020;
    background-color: #ffffff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #ffffff;
}

.headerBar-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}


@media screen and (max-width: 960px) {
    .headerBar {
        background: #202020;
        color: #ffffff;
        height: 150px;
        display: flex;
        flex-direction: initial;
        justify-content: left;
        align-items: start;
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 30px;
        padding-left: 10%;
    }


    .headerNav-searchBar {
        display: none;
    }

    .headerBar-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: available;
        position: absolute;
        top: 150px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .headerBar-menu.active {
        background: #202020;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .headerBar-links {
        text-align: center;
        justify-content: center;
        padding: 2rem;
        margin: 10px;
        width: 90%;
        display: table;
    }

    .headerBar-menu:hover {
        background-color: #202020;
        border-radius: 0;
    }


    .headerBar-logo {
        color: #ffffff;
        cursor: pointer;
        font-size: 60px;
        font-weight: bolder;
        text-underline: none;
    }

    .menu-icon {
        height: 40px;
        display: block;
        top: 30px;
        right: 20px;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        position: absolute;
        z-index: 1;
    }

    .fa.times {
        color: #FFFFFF;
        font-size: 2rem;
    }

    .headerBar-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;/*
        margin: 2rem auto;*/
        border-radius: 4px;
        width: 80%;
        background: #FFFFFF;
        color: #202020;
        font-size: 1.5rem;
    }

    .headerBar-links-mobile:hover {
        background: #FFFFFF;
        color: #202020;
        transition: 250ms;
    }

    Button {
        display: none;
    }
}