* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.all {
  min-height: 1rem;;
}

.bodyWrapper{
  width: 1500px;
  margin: auto;

}

header{
  display: grid;
  background-color: #202020;
  height: 300px;clip-path: polygon(0 0, 100% 0, 100% 79%, 0% 100%);
    z-index: 4;
}

.SideBar{
    position: relative;

    clip-path: polygon(
            0 0,
            33% 0,
            33% 33%,
            0 calc(30% - 5vw))
}


