.dropdown-menu.active{
    background-color: #202020;
    position: absolute;
    top: 255px;
    left: 0;
    height: 200px;
    width: 100%;
    transition: 0.5s;
    opacity: 0.6;

    display: flex;
    flex-direction: row;

}

.dropdown-menu.disabled{
    display: none;
}

.sideBar-links{

    color: #ffb100;
    border: none;
    text-decoration: none;
    margin: 20px;
    transform: rotate(40deg);
}

/*
.sideBar{
    position: absolute;
    top: -10px;
    background: #ffcb00;
    width: 300px;
    height: 2000px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    margin: auto;
    transform: translateX(-100%);
    transition: ease-in 0.3ms;
}


.sideBar-menu{
    grid-template-columns: repeat(500, auto);
    grid-gap: 22px;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-top: 400px;

}

.sideBar-links{

    color: #000000;
    border: none;
    text-decoration: none;
    margin: 20px;
    transform: rotate(30deg);
}


.sideBar-links:hover{
    text-decoration: underline #000000;
    border: none;
}*/
